body {
	background-color: #f1f1f1;
	font-family: Arial;
}
/*Main Content*/
.mainContent {
	padding-left: 18%;
	padding-right: 5%; 
}
.mainContent .pageTitle {
	text-align: center;
	font-size: 48px;
}
.mainContent .body {
	text-indent: 3%;
	text-size: 14px;
}
.mainContent .subTitle {
	text-size: 24px;
}
.mainContent img {
	display: block;
	margin-left: auto;
	margin-right: auto; 
	max-width: 100%;
	max-height: 100%
}
/*Side Navigation Panel*/
.sidepanel {
	height: 100%;
	width: 13%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding: 20px;
	color: grey;
}
.sidepanel a {
	text-decoration: none;
	font-size: 90%;
	color: white;
}
.sidepanel a:hover {
	color: #2E2E2E;
}
.sidepanel h1 {
	color: white;
	font-size: 180%
}
.sidepanel details {
	font-size: 100%;
	font-size: 90%;
}

br {
	padding-bottom: 2%;
}
