body {
	background-color: #424242;
}
.Page_Title {
	text-align: center;
	size: 96px;
}

.sidepanel {
	height: 100%;
	width: 15%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding: 20px;
}
.sidepanel a {
	text-decoration: none;
	color: grey;
}

.sidepanel a:hover {
	color: #f1f1f1;
}

br {
	padding-bottom: 2%;
}

.mainContent {
	padding-left: 15%;
}