body {
	background-color: #424242;
}
/*Main Content*/
.mainContent {
	padding-left: 15%;
	padding-right: 5%; 
}
.mainContent .pageTitle {
	text-align: center;
	font-size: 48px;
}
/*Side Navigation Panel*/
.sidepanel {
	height: 100%;
	width: 10%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding: 20px;
}
.sidepanel a {
	text-decoration: none;
	color: grey;
	font-size: 130%;
}
.sidepanel a:hover {
	color: #2E2E2E;
}
.sidepanel h1 {
	color: white;
	font-size: 180%
}

p {
	text-indent: 3%;
}

br {
	padding-bottom: 2%;
}
